.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :id, "Serail"
        %th{scope: "col"}= sort_link @search, :date, "Date"
        %th{scope: "col"}= sort_link @search, :payment_type_name, "Payment Type"
        %th{scope: "col"} Total Amount
        %th{scope: "col"}= sort_link @search, :payment_method_name, "Payment Method"
        %th{scope: "col"}= sort_link @search, :status, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @student_payments.each do |student_payment|
        %tr
          %td{scope: "row"}= link_to student_payment.serial, coaching_student_student_payment_path(student_payment.student_id, student_payment), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= I18n.l(student_payment.date)
          %td= link_to student_payment.payment_type_name, transaction_payment_type_path(student_payment.payment_type_id), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= amount_with_currency(student_payment.total_amount)
          %td= link_to student_payment.payment_method_name, transaction_payment_method_path(student_payment.payment_method_id), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= student_payment.status.display

          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), coaching_student_student_payment_path(student_payment.student_id, student_payment), title: "Show details", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_coaching_student_student_payment_path(student_payment.student_id, student_payment), title: "Edit payment", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_coaching_student_student_payment_path(student_payment.student_id, student_payment), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-printer-fill'></i>"), "#", title: "Print", class: "icon-btn"
            = link_to raw("<i class='bi bi-cloud-download-fill'></i>"), "#", title: "Download", class: "icon-btn"
            = link_to raw("<i class='bi bi-send-fill'></i>"), "#", title: "Send email", class: "icon-btn"
