- provide(:page_title, @student.full_name)
- provide(:page_header, @student.full_name)

.page-card
  .card-header.card-nav-header
    = render "coaching/shared/student_tabs", active_nav: "student_payments"

  .page-card-body
    .card-body-header
      = link_to "Add New", new_coaching_student_student_payment_path(@student), class: "btn btn-primary ms-0", data: { turbo_frame: "remote_modal_form" }, title: "Add new payment"
      = link_to "Export", export_coaching_student_student_payments_path(student_id: @student.id, q: params[:q]&.to_unsafe_h.to_h, format: "xlsx"), title: "Export student payments", class: "btn btn-light me-0"

    - if @student_payments.present?
      = render "table"
      = render "shared/pagy"
    - else
      = render "shared/empty_record"
