%p
  Cash book has been created by #{@resource.creator_name} on #{I18n.l(@resource.created_at)}.

- @versions.each_with_index do |version, index|
  %hr/

  .secondary-text.mb-2
    Change Log #{@versions.size - index} – Done by #{version.whodunnit} on #{I18n.l(version.created_at)}

  .table-responsive
    %table.table.table-sm
      %thead
        %th Field Name
        %th Previous Value
        %th Current Value

      %tbody
        - version.changeset.each do |key, value|
          %tr
            - if key == "date"
              %td Date
              %td= I18n.l(value[0], default: "")
              %td= I18n.l(value[1], default: "")

            - if key == "cash_amount"
              %td Cash
              %td= amount_with_currency(value[0])
              %td= amount_with_currency(value[1])

            - if key == "card_amount"
              %td Card
              %td= amount_with_currency(value[0])
              %td= amount_with_currency(value[1])

            - if key == "withdrawn_amount"
              %td Withdrawn
              %td= amount_with_currency(value[0])
              %td= amount_with_currency(value[1])

            - if key == "leftover_amount"
              %td Leftover
              %td= amount_with_currency(value[0])
              %td= amount_with_currency(value[1])
