.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :name, "Date"
        %th{scope: "col"}= sort_link @search, :cash_amount, "Cash"
        %th{scope: "col"}= sort_link @search, :card_amount, "Card"
        %th{scope: "col"}= sort_link @search, :withdrawn_amount, "Withdrawn"
        %th{scope: "col"}= sort_link @search, :leftover_amount, "Leftover"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @cash_books.each do |cash_book|
        %tr
          %td{scope: "row"}= link_to I18n.l(cash_book.date, default: ""), transaction_cash_book_path(cash_book), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= amount_with_currency(cash_book.cash_amount)
          %td= amount_with_currency(cash_book.card_amount)
          %td= amount_with_currency(cash_book.withdrawn_amount)
          %td= amount_with_currency(cash_book.leftover_amount)
          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), transaction_cash_book_path(cash_book), title: "Show details", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_transaction_cash_book_path(cash_book), title: "Edit cash book", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_transaction_cash_book_path(cash_book), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-trash3-fill'></i>"), transaction_cash_book_path(cash_book), title: "Delete cash book", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the cash book?" }
