.table-responsive
  %table.table.table-sm.details-table
    %tbody
      %tr
        %td Serial
        %td= @payment.serial

      %tr
        %td Date
        %td= I18n.l(@payment.date, default: "")

      %tr
        %td Payment Type
        %td= @payment.payment_type_name

      %tr
        %td Amount
        %td= amount_with_currency(@payment.amount)

      %tr
        %td Discount
        %td= amount_with_currency(@payment.discount)

      %tr
        %td Total Amount
        %td= amount_with_currency(@payment.total_amount)

      %tr
        %td Details
        %td= @payment.details

      %tr
        %td Payment Method
        %td= @payment.payment_method_name

      %tr
        %td Status
        %td= @payment.status.display
