.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :name, "Name"
        %th{scope: "col"}= sort_link @search, :teacher_first_name, "Teacher"
        %th{scope: "col"}= sort_link @search, :client_type_name, "Client Type"
        %th{scope: "col"}= sort_link @search, :quota, "Quota"
        %th{scope: "col"} Subscribers
        %th{scope: "col"} Schedule
        %th{scope: "col"} Duration
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @groups.each do |group|
        %tr
          %td{scope: "row"}= link_to group.name, coaching_group_path(group), title: "Show details"
          %td= link_to group.teacher_full_name, personal_teacher_path(group.teacher_id), title: "Show teacher"
          %td= link_to group.client_type_name, coaching_client_type_path(group.client_type_id), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= group.quota
          %td= group.subscribers.size
          %td= display_schedule_set(group)
          %td= group.duration
          %td= group.archived_status
          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), coaching_group_path(group), title: "Show details", class: "icon-btn"
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_coaching_group_path(group), title: "Edit group", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_coaching_group_path(group), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-trash3-fill'></i>"), coaching_group_path(group), title: "Delete group", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the group?" }
