.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :name, "Name"
        %th{scope: "col"}= sort_link @search, :teacher_first_name, "Teacher"
        %th{scope: "col"}= sort_link @search, :client_type_name, "Client Type"
        %th{scope: "col"}= sort_link @search, :quota, "Quota"
        %th{scope: "col"} Subscribers
        %th{scope: "col"} Schedule
        %th{scope: "col"} Duration
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @groups.each do |group|
        %tr
          %td{scope: "row"}= link_to group.name, coaching_group_path(group), title: "Show details"
          %td= link_to group.teacher_full_name, personal_teacher_path(group.teacher_id), title: "Show teacher"
          %td= group.client_type_name
          %td= group.quota
          %td= group.subscribers.size
          %td= display_schedule_set(group)
          %td= "#{group.start_time} - #{group.end_time}"
          %td= group.archived_status
          %td.text-center
            = link_to "Edit", edit_coaching_group_path(group), title: "Edit group", class: "btn btn-primary btn-sm ms-0", data: { turbo_frame: "remote_modal_form" }
            = link_to "History", change_logs_coaching_group_path(group), title: "Show history", class: "btn btn-light btn-sm", data: { turbo_frame: "remote_modal_form" }
            = link_to "Delete", coaching_group_path(group), title: "Delete group", class: "btn btn-danger-light btn-sm me-0", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the group?" }
