- provide(:page_title, @group.name)
- provide(:page_header, @group.name)

.page-card
  .card-header.card-nav-header
    = render "coaching/shared/group_tabs", active_nav: "details"

  .page-card-body
    .secondary-header.mb-3.mb-lg-4= @group.name

    .row.g-5
      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td Teacher
                %td= link_to @group.teacher_full_name, personal_teacher_path(@group.teacher_id), title: "Show teacher"

              %tr
                %td Client Type
                %td= @group.client_type_name

              %tr
                %td Quota
                %td= @group.quota

              %tr
                %td Schedule
                %td= display_schedule_set(@group)

              %tr
                %td Duration
                %td= "#{@group.start_time} - #{@group.end_time}"

              %tr
                %td Status
                %td= @group.archived_status

      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td Subscribers
                %td= @group.subscribers.size

              %tr
                %td Last Attendance Taken On
                %td= I18n.l(@group.last_attendance&.date, default: "")
