.table-responsive
  %table.table.table-sm.details-table
    %tbody
      %tr
        %td Name
        %td= @payment_type.name

      %tr
        %td Category
        %td= @payment_type.category.display

      %tr
        %td Student payments
        %td= @payment_type.student_payments.size

      %tr
        %td Teacher payments
        %td= @payment_type.teacher_payments.size

      %tr
        %td Status
        %td= @payment_type.archived_status
