.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :name, "Name"
        %th{scope: "col"}= sort_link @search, :category, "Category"
        %th{scope: "col"} Payments Count
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @payment_types.each do |payment_type|
        %tr
          %td{scope: "row"}= payment_type.name
          %td= payment_type.category.display
          %td= payment_type.payments.size
          %td= payment_type.archived_status
          %td.text-center
            = link_to "Edit", edit_transaction_payment_type_path(payment_type), title: "Edit payment type", class: "btn btn-primary btn-sm ms-0", data: { turbo_frame: "remote_modal_form" }
            = link_to "History", change_logs_transaction_payment_type_path(payment_type), title: "Show history", class: "btn btn-light btn-sm", data: { turbo_frame: "remote_modal_form" }
            = link_to "Delete", transaction_payment_type_path(payment_type), title: "Delete payment type", class: "btn btn-danger-light btn-sm me-0", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the payment type?" }
