.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :name, "Name"
        %th{scope: "col"}= sort_link @search, :category, "Category"
        %th{scope: "col"} Student Payments
        %th{scope: "col"} Teacher Payments
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @payment_types.each do |payment_type|
        %tr
          %td{scope: "row"}= link_to payment_type.name, transaction_payment_type_path(payment_type), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= payment_type.category.display
          %td= payment_type.student_payments.size
          %td= payment_type.teacher_payments.size
          %td= payment_type.archived_status
          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), transaction_payment_type_path(payment_type), title: "Show details", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_transaction_payment_type_path(payment_type), title: "Edit payment type", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_transaction_payment_type_path(payment_type), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-trash3-fill'></i>"), transaction_payment_type_path(payment_type), title: "Delete payment type", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the payment type?" }
