- provide(:page_title, "Payment Types")
- provide(:page_header, "Payment Types")

.page-card
  .page-card-header
    = link_to "Add New", new_transaction_payment_type_path, class: "btn btn-primary ms-0", data: { turbo_frame: "remote_modal_form" }, title: "Add new payment type"
    = link_to "Export", export_transaction_payment_types_path(q: params[:q]&.to_unsafe_h.to_h, format: "xlsx"), title: "Export payment types", class: "btn btn-light me-0"

  .page-card-body
    - if @payment_types.present?
      = render "table"
      = render "shared/pagy"
    - else
      = render "shared/empty_record"
