.modal.fade#importModal(tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title= title
        %button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        = form_tag path, method: :post, multipart: true do
          .mb-3
            = file_field_tag :file, class: "form-control file-form-control", required: true, accept: ".csv"
            %small.secondary-text
              Data import supports only CSV files.
              = link_to "Download Sample File", "/csv_files/#{controller_name}.csv"

          .actions.form-btn-group
            %button.btn.btn-light.ms-0{type: "button", "data-bs-dismiss": "modal", title: "Close"} Close
            = submit_tag "Import", title: title.capitalize, class: "btn btn-primary me-0"
