.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :student_first_name, "Name"
        %th{scope: "col"}= sort_link @search, :student_student_code, "Student Code"
        %th{scope: "col"}= sort_link @search, :student_course_name, "Course"
        %th{scope: "col"}= sort_link @search, :student_client_type_name, "Client Type"
        %th{scope: "col"}= sort_link @search, :created_by_first_name, "Added By"
        %th{scope: "col"}= sort_link @search, :created_at, "Added At"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @subscribers.each do |subscriber|
        %tr
          %td{scope: "row"}= link_to subscriber.student_full_name, coaching_student_path(subscriber.student_id), title: "Show details"
          %td= subscriber.student_student_code
          %td= link_to subscriber.student_course_name, coaching_course_path(subscriber.student_course_id), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= link_to subscriber.student_client_type_name, coaching_client_type_path(subscriber.student_client_type_id), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= subscriber.creator_name
          %td= I18n.l(subscriber.created_at)
          %td.text-center= link_to raw("<i class='bi bi-trash3-fill'></i>"), coaching_group_subscriber_path(subscriber.group_id, subscriber), title: "Delete subscriber", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the subscriber?" }
