- provide(:page_title, @group.name)
- provide(:page_header, @group.name)

.page-card
  .card-header.card-nav-header
    = render "coaching/shared/group_tabs", active_nav: "subscribers"

  .page-card-body
    .card-body-header.d-flex.justify-content-between.align-items-center
      .secondary-header
        Total Subscribers: #{@group.subscribers.count}
      %div
        = link_to "Add New", new_coaching_group_subscriber_path(@group), class: "btn btn-primary ms-0", data: { turbo_frame: "remote_modal_form" }, title: "Add new subscriber"
        = link_to "Export", export_coaching_group_subscribers_path(group_id: @group.id, q: params[:q]&.to_unsafe_h.to_h, format: "xlsx"), title: "Export subscribers", class: "btn btn-light me-0"

    - if @subscribers.present?
      = render "table"
      = render "shared/pagy"
    - else
      = render "shared/empty_record"
