%p
  #{@resource.full_name} has been created by #{@resource.creator_name} on #{I18n.l(@resource.created_at)}.

- @versions.each_with_index do |version, index|
  %hr/

  .secondary-text.mb-2
    Change Log #{@versions.size - index} – Done by #{version.whodunnit} on #{I18n.l(version.created_at)}

  .table-responsive
    %table.table.table-sm
      %thead
        %th Field Name
        %th Previous Value
        %th Current Value

      %tbody
        - version.changeset.each do |key, value|
          %tr
            - if key == "first_name"
              %td First name
              %td= value[0]
              %td= value[1]

            - if key == "last_name"
              %td Last name
              %td= value[0]
              %td= value[1]

            - if key == "father_name"
              %td Father name
              %td= value[0]
              %td= value[1]

            - if key == "mother_name"
              %td Mother name
              %td= value[0]
              %td= value[1]

            - if key == "father_email"
              %td Father email
              %td= value[0]
              %td= value[1]

            - if key == "mother_email"
              %td Mother email
              %td= value[0]
              %td= value[1]

            - if key == "father_phone_number"
              %td Father phone number
              %td= value[0]
              %td= value[1]

            - if key == "mother_phone_number"
              %td Mother phone number
              %td= value[0]
              %td= value[1]

            - if key == "date_of_birth"
              %td Date of birth
              %td= I18n.l(value[0])
              %td= I18n.l(value[1])

            - if key == "registration_date"
              %td Registration date
              %td= I18n.l(value[0])
              %td= I18n.l(value[1])

            - if key == "school_name"
              %td School name
              %td= value[0]
              %td= value[1]

            - if key == "student_code"
              %td Student code
              %td= value[0]
              %td= value[1]

            - if key == "allergies"
              %td Allergies
              %td= value[0]
              %td= value[1]

            - if key == "address"
              %td Address
              %td= raw(display_text(value[0]))
              %td= raw(display_text(value[1]))

            - if key == "client_type_id"
              %td Client type
              %td= ClientType.find_by(id: value[0]).name
              %td= ClientType.find_by(id: value[1]).name

            - if key == "course_id"
              %td Course
              %td= Course.find_by(id: value[0]).name
              %td= Course.find_by(id: value[1]).name

            - if key == "archived"
              %td Status
              %td= archive_status(value[0])
              %td= archive_status(value[1])

            - if key == "pro_client"
              %td Pro client
              %td= value[0].display
              %td= value[1].display

            - if key == "facebook"
              %td Facebook
              %td= value[0].display
              %td= value[1].display

            - if key == "remarks"
              %td Remarks
              %td= raw(display_text(value[0]))
              %td= raw(display_text(value[1]))
