.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :first_name, "Name"
        %th{scope: "col"}= sort_link @search, :student_code, "Student Code"
        %th{scope: "col"}= sort_link @search, :date_of_birth, "Date of Birth"
        %th{scope: "col"}= sort_link @search, :group_name, "Group"
        %th{scope: "col"}= sort_link @search, :client_type_name, "Client Type"
        %th{scope: "col"}= sort_link @search, :course_fee, "Course Fee"
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @students.each do |student|
        %tr
          %td{scope: "row"}= link_to student.full_name, coaching_student_path(student), title: "Show details"
          %td= student.student_code
          %td= I18n.l(student.date_of_birth)
          %td= student_group_link(student)
          %td= link_to student.client_type_name, coaching_client_type_path(student.client_type_id), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= amount_with_currency(student.course_fee)
          %td= student.archived_status
          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), coaching_student_path(student), title: "Show details", class: "icon-btn"
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_coaching_student_path(student), title: "Edit student", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_coaching_student_path(student), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-trash3-fill'></i>"), coaching_student_path(student), title: "Delete student", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the student?" }
