.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :first_name, "Name"
        %th{scope: "col"}= sort_link @search, :student_code, "Student Code"
        %th{scope: "col"}= sort_link @search, :date_of_birth, "Date of Birth"
        %th{scope: "col"}= sort_link @search, :group_name, "Group"
        %th{scope: "col"}= sort_link @search, :client_type_name, "Client Type"
        %th{scope: "col"}= sort_link @search, :course_fee, "Course Fee"
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @students.each do |student|
        %tr
          %td{scope: "row"}= link_to student.full_name, coaching_student_path(student), title: "Show details"
          %td= student.student_code
          %td= I18n.l(student.date_of_birth)
          %td= student_group_link(student)
          %td= student.client_type_name
          %td= student.course_fee_with_currency
          %td= student.archived_status
          %td.text-center
            = link_to "Edit", edit_coaching_student_path(student), title: "Edit student", class: "btn btn-primary btn-sm ms-0", data: { turbo_frame: "remote_modal_form" }
            = link_to "History", change_logs_coaching_student_path(student), title: "Show history", class: "btn btn-light btn-sm", data: { turbo_frame: "remote_modal_form" }
            = link_to "Delete", coaching_student_path(student), title: "Delete student", class: "btn btn-danger-light btn-sm me-0", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the student?" }
