- provide(:page_title, @student.full_name)
- provide(:page_header, @student.full_name)

.page-card
  .card-header.card-nav-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        = link_to "Details", coaching_student_path(@student), class: "nav-link active"
      %li.nav-item
        = link_to "Payments", "#", class: "nav-link"

  .page-card-body
    .row.g-3
      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td Name
                %td= @student.full_name

              %tr
                %td Student Code
                %td= @student.student_code

              %tr
                %td Date of Birth
                %td= I18n.l(@student.date_of_birth, default: "")

              %tr
                %td Group
                %td= student_group_link(@student)

              %tr
                %td Client Type
                %td= @student.client_type_name

              %tr
                %td Course
                %td= @student.course_name

              %tr
                %td Course Fee
                %td= @student.course_fee_with_currency

              %tr
                %td Registration Date
                %td= I18n.l(@student.registration_date, default: "")

              %tr
                %td School Name
                %td= @student.school_name

              %tr
                %td Allergies
                %td= @student.allergies

              %tr
                %td Remarks
                %td= raw(display_text(@student.remarks))

      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td Mother Name
                %td= @student.mother_name

              %tr
                %td Mother Email
                %td
                  %a(href="mailto: #{@student.mother_email}")= @student.mother_email

              %tr
                %td Mother Phone Number
                %td
                  %a(href="tel:#{@student.mother_phone_number}")= @student.mother_phone_number

              %tr
                %td Father Name
                %td= @student.father_name

              %tr
                %td Father Email
                %td
                  %a(href="mailto: #{@student.father_email}")= @student.father_email

              %tr
                %td Father Phone Number
                %td
                  %a(href="tel:#{@student.father_phone_number}")= @student.father_phone_number

              %tr
                %td Address
                %td= raw(display_text(@student.address))

              %tr
                %td Facebook
                %td= @student.facebook.display

              %tr
                %td Pro Client
                %td= @student.pro_client.display

              %tr
                %td Status
                %td= @student.archived_status
