- provide(:page_title, @student.full_name)
- provide(:page_header, @student.full_name)

.page-card
  .card-header.card-nav-header
    = render "coaching/shared/student_tabs", active_nav: "details"

  .page-card-body
    .d-flex.align-items-center.justify-content-between
      .secondary-header.mb-3.mb-lg-4= @student.full_name
      .actions-block
        = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_coaching_student_path(@student), title: "Edit student", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
        = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_coaching_student_path(@student), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
        = link_to raw("<i class='bi bi-trash3-fill'></i>"), coaching_student_path(@student), title: "Delete student", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the student?" }

    .row.g-5
      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td Student Code
                %td= @student.student_code

              %tr
                %td Date of Birth
                %td= I18n.l(@student.date_of_birth, default: "")

              %tr
                %td Group
                %td= student_group_link(@student)

              %tr
                %td Client Type
                %td= link_to @student.client_type_name, coaching_client_type_path(@student.client_type_id), title: "Show details", data: { turbo_frame: "remote_modal_form" }

              %tr
                %td Course
                %td= link_to @student.course_name, coaching_course_path(@student.course_id), title: "Show details", data: { turbo_frame: "remote_modal_form" }

              %tr
                %td Course Fee
                %td= @student.course_fee_with_currency

              %tr
                %td Registration Date
                %td= I18n.l(@student.registration_date, default: "")

              %tr
                %td School Name
                %td= @student.school_name

              %tr
                %td Allergies
                %td= @student.allergies

              %tr
                %td Remarks
                %td= raw(display_text(@student.remarks))

              %tr
                %td Facebook
                %td= @student.facebook.display

              %tr
                %td Pro Client
                %td= @student.pro_client.display

              %tr
                %td Status
                %td= @student.archived_status

      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td Mother Name
                %td= @student.mother_name

              %tr
                %td Mother Email
                %td
                  %a(href="mailto: #{@student.mother_email}")= @student.mother_email

              %tr
                %td Mother Phone Number
                %td
                  %a(href="tel:#{@student.mother_phone_number}")= @student.mother_phone_number

              %tr
                %td Father Name
                %td= @student.father_name

              %tr
                %td Father Email
                %td
                  %a(href="mailto: #{@student.father_email}")= @student.father_email

              %tr
                %td Father Phone Number
                %td
                  %a(href="tel:#{@student.father_phone_number}")= @student.father_phone_number

              %tr
                %td Address
                %td= raw(display_text(@student.address))

              %tr
                %td Last Attended On
                %td= I18n.l(@student.last_attendance&.date, default: "")

              %tr
                %td Last Paid Amount
                %td= amount_with_currency(@student.last_student_payment&.total_amount)

              %tr
                %td Last Paid On
                %td= I18n.l(@student.last_student_payment&.date, default: "")
