%p
  #{@resource.full_name} has been created by #{@resource.created_by.full_name} on #{I18n.l(@resource.created_at)}.

- @versions.each_with_index do |version, index|
  %hr/

  .secondary-text.mb-2
    Change Log #{@versions.size - index} – Done by #{version.whodunnit} on #{I18n.l(version.created_at)}

  .table-responsive
    %table.table.table-sm
      %thead
        %th Field Name
        %th Previous Value
        %th Current Value

      %tbody
        - version.changeset.each do |key, value|
          %tr
            - if key == "first_name"
              %td First Name
              %td= value[0]
              %td= value[1]

            - if key == "last_name"
              %td Last Name
              %td= value[0]
              %td= value[1]

            - if key == "email"
              %td Email
              %td= value[0]
              %td= value[1]

            - if key == "date_of_birth"
              %td Date of Birth
              %td= I18n.l(value[0], default: "")
              %td= I18n.l(value[1], default: "")

            - if key == "phone_number"
              %td Phone Number
              %td= value[0]
              %td= value[1]

            - if key == "mobile_number"
              %td Mobile Number
              %td= value[0]
              %td= value[1]

            - if key == "wages_per_day"
              %td Wages Per Day
              %td= amount_with_currency(value[0])
              %td= amount_with_currency(value[1])

            - if key == "wages_per_hour"
              %td Wages Per Hour
              %td= amount_with_currency(value[0])
              %td= amount_with_currency(value[1])

            - if key == "wages_per_month"
              %td Wages Per Month
              %td= amount_with_currency(value[0])
              %td= amount_with_currency(value[1])

            - if key == "availability"
              %td Availability
              %td= raw(display_text(value[0]))
              %td= raw(display_text(value[1]))

            - if key == "archived"
              %td Status
              %td= archive_status(value[0])
              %td= archive_status(value[1])
