.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :first_name, "Name"
        %th{scope: "col"}= sort_link @search, :email, "Email"
        %th{scope: "col"} Contact Numbers
        %th{scope: "col"} Wages
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @teachers.each do |teacher|
        %tr
          %td{scope: "row"}= link_to teacher.full_name, personal_teacher_path(teacher), title: "Show details"
          %td
            %a(href="mailto: #{teacher.email}")
              = teacher.email
          %td
            - if teacher.phone_number.present?
              .icon-details
                %a(href="tel:#{teacher.phone_number}")
                  %i.bi.bi-telephone-fill
                  = teacher.phone_number
            - if teacher.mobile_number.present?
              .icon-details
                %a(href="tel:#{teacher.mobile_number}")
                  %i.bi.bi-phone-fill
                  = teacher.mobile_number
          %td
            %div= teacher.wages_per_hour_with_currency
            %div= teacher.wages_per_day_with_currency
            %div= teacher.wages_per_month_with_currency
          %td= teacher.archived_status
          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), personal_teacher_path(teacher), title: "Show details", class: "icon-btn"
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_personal_teacher_path(teacher), title: "Edit teacher", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_personal_teacher_path(teacher), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-trash3-fill'></i>"), personal_teacher_path(teacher), title: "Delete teacher", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the teacher?" }
