- provide(:page_title, "Teachers")
- provide(:page_header, "Teachers")

.page-card
  .page-card-header
    = link_to "Add New", new_personal_teacher_path, class: "btn btn-primary ms-0", data: { turbo_frame: "remote_modal_form" }, title: "Add new teacher"
    %button.btn.btn-light(type="button" data-bs-toggle="modal" data-bs-target="#importModal" title="Import teachers") Import
    = link_to "Export", export_personal_teachers_path(q: params[:q]&.to_unsafe_h.to_h, format: "xlsx"), title: "Export teachers", class: "btn btn-light me-0"

  .page-card-body
    - if @teachers.present?
      = render "table"
      = render "shared/pagy"
    - else
      = render "shared/empty_record"

= render "shared/import_modal", title: "Import Teachers", path: import_personal_teachers_path
