- provide(:page_title, @teacher.full_name)
- provide(:page_header, @teacher.full_name)

.page-card
  .card-header.card-nav-header
    = render "personal/shared/teacher_tabs", active_nav: "details"

  .page-card-body
    .secondary-header.mb-3.mb-lg-4= @teacher.full_name

    .row.g-3
      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td Email
                %td
                  %a(href="mailto: #{@teacher.email}")= @teacher.email

              %tr
                %td Phone Number
                %td
                  %a(href="tel:#{@teacher.phone_number}")= @teacher.phone_number

              %tr
                %td Mobile Number
                %td
                  %a(href="tel:#{@teacher.mobile_number}")= @teacher.mobile_number

              %tr
                %td Date of Birth
                %td= I18n.l(@teacher.date_of_birth, default: "")

              %tr
                %td Wages per hour
                %td= @teacher.wages_per_hour_with_currency

              %tr
                %td Wages per day
                %td= @teacher.wages_per_day_with_currency

              %tr
                %td Wages per month
                %td= @teacher.wages_per_month_with_currency

              %tr
                %td Availability
                %td= raw(display_text(@teacher.availability))

              %tr
                %td Status
                %td= @teacher.archived_status

      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td This Week Work Hours
                %td= @teacher.this_week_work_hours

              %tr
                %td This Month Work Hours
                %td= @teacher.this_month_work_hours

              %tr
                %td This Year Work Hours
                %td= @teacher.this_year_work_hours

              %tr
                %td Total Work Hours
                %td= @teacher.total_work_hours
