- provide(:page_title, @teacher.full_name)
- provide(:page_header, @teacher.full_name)

.page-card
  .card-header.card-nav-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        = link_to "Details", personal_teacher_path(@teacher), class: "nav-link active"
      %li.nav-item
        = link_to "Work Logs", personal_teacher_work_logs_path(@teacher), class: "nav-link"
      %li.nav-item
        = link_to "Payment Book", "#", class: "nav-link"

  .page-card-body
    .row.g-3
      .col-lg-6
        .table-responsive
          %table.table.table-sm.details-table
            %tbody
              %tr
                %td Name
                %td= @teacher.full_name

              %tr
                %td Email
                %td
                  %a(href="mailto: #{@teacher.email}")= @teacher.email

              %tr
                %td Phone Number
                %td
                  %a(href="tel:#{@teacher.phone_number}")= @teacher.phone_number

              %tr
                %td Mobile Number
                %td
                  %a(href="tel:#{@teacher.mobile_number}")= @teacher.mobile_number

              %tr
                %td Date of Birth
                %td= I18n.l(@teacher.date_of_birth, default: "")

              %tr
                %td Wages per hour
                %td= @teacher.wages_per_hour_with_currency

              %tr
                %td Wages per day
                %td= @teacher.wages_per_day_with_currency

              %tr
                %td Wages per month
                %td= @teacher.wages_per_month_with_currency

              %tr
                %td Availability
                %td= raw(display_text(@teacher.availability))

              %tr
                %td Status
                %td= @teacher.archived_status
