.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :name, "Name"
        %th{scope: "col"}= sort_link @search, :student_payments_count, "Student Payments"
        %th{scope: "col"}= sort_link @search, :teacher_payments_count, "Teacher Payments"
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @payment_methods.each do |payment_method|
        %tr
          %td{scope: "row"}= link_to payment_method.name, transaction_payment_method_path(payment_method), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= payment_method.student_payments_count
          %td= payment_method.teacher_payments_count
          %td= payment_method.archived_status
          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), transaction_payment_method_path(payment_method), title: "Show details", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_transaction_payment_method_path(payment_method), title: "Edit payment method", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_transaction_payment_method_path(payment_method), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-trash3-fill'></i>"), transaction_payment_method_path(payment_method), title: "Delete payment method", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the payment method?" }
