- provide(:page_title, "Payment Methods")
- provide(:page_header, "Payment Methods")

.page-card
  .page-card-header
    = link_to "Add New", new_transaction_payment_method_path, class: "btn btn-primary ms-0", data: { turbo_frame: "remote_modal_form" }, title: "Add new payment method"
    = link_to "Export", export_transaction_payment_methods_path(q: params[:q]&.to_unsafe_h.to_h, format: "xlsx"), title: "Export payment methods", class: "btn btn-light me-0"

  .page-card-body
    - if @payment_methods.present?
      = render "table"
      = render "shared/pagy"
    - else
      = render "shared/empty_record"
