.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :name, "Name"
        %th{scope: "col"}= sort_link @search, :fee, "Fee"
        %th{scope: "col"} Students Count
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @courses.each do |course|
        %tr
          %td{scope: "row"}= link_to course.name, coaching_course_path(course), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= amount_with_currency(course.fee)
          %td= course.students.size
          %td= course.archived_status
          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), coaching_course_path(course), title: "Show details", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_coaching_course_path(course), title: "Edit course", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_coaching_course_path(course), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-trash3-fill'></i>"), coaching_course_path(course), title: "Delete course", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the course?" }
