- provide(:page_title, @teacher.full_name)
- provide(:page_header, @teacher.full_name)

.page-card
  .card-header.card-nav-header
    = render "personal/shared/teacher_tabs", active_nav: "teacher_payments"

  .page-card-body
    .card-body-header
      = link_to "Add New", new_personal_teacher_teacher_payment_path(@teacher), class: "btn btn-primary ms-0", data: { turbo_frame: "remote_modal_form" }, title: "Add new payment"
      = link_to "Export", export_personal_teacher_teacher_payments_path(teacher_id: @teacher.id, q: params[:q]&.to_unsafe_h.to_h, format: "xlsx"), title: "Export teacher payments", class: "btn btn-light me-0"

    - if @teacher_payments.present?
      = render "table"
      = render "shared/pagy"
    - else
      = render "shared/empty_record"
