%p
  Work log has been created by #{@work_log.creator_name} on #{I18n.l(@work_log.created_at)}.

- @versions.each_with_index do |version, index|
  %hr/

  .secondary-text.mb-2
    Change Log #{@versions.size - index} – Done by #{version.whodunnit} on #{I18n.l(version.created_at)}

  .table-responsive
    %table.table.table-sm
      %thead
        %th Field Name
        %th Previous Value
        %th Current Value

      %tbody
        - version.changeset.each do |key, value|
          %tr
            - if key == "date"
              %td Date
              %td= I18n.l(value[0])
              %td= I18n.l(value[1])

            - if key == "hours"
              %td Hours
              %td= display_amount(value[0])
              %td= display_amount(value[1])
