- provide(:page_title, @teacher.full_name)
- provide(:page_header, @teacher.full_name)

.page-card
  .card-header.card-nav-header
    = render "personal/shared/teacher_tabs", active_nav: "work_logs"

  .page-card-body
    .card-body-header.d-flex.justify-content-between.align-items-center
      .secondary-header
        Total Work Hours: #{@teacher.total_work_hours}
      = link_to "Add New", new_personal_teacher_work_log_path, class: "btn btn-primary m-0", data: { turbo_frame: "remote_modal_form" }, title: "Add new work log"

    - if @work_logs.present?
      = render "table"
      = render "shared/pagy"
    - else
      = render "shared/empty_record"
