%p
  Expense has been created by #{@expense.creator_name} on #{I18n.l(@expense.created_at)}.

- @versions.each_with_index do |version, index|
  %hr/

  .secondary-text.mb-2
    Change Log #{@versions.size - index} – Done by #{version.whodunnit} on #{I18n.l(version.created_at)}

  .table-responsive
    %table.table.table-sm
      %thead
        %th Field Name
        %th Previous Value
        %th Current Value

      %tbody
        - version.changeset.each do |key, value|
          %tr
            - if key == "date"
              %td Date
              %td= I18n.l(value[0], default: "")
              %td= I18n.l(value[1], default: "")

            - if key == "amount"
              %td Amount
              %td= amount_with_currency(value[0])
              %td= amount_with_currency(value[1])
