- provide(:page_title, @group.name)
- provide(:page_header, @group.name)

.page-card
  .card-header.card-nav-header
    = render "coaching/shared/group_tabs", active_nav: "attendances"

  .page-card-body
    .card-body-header
      .row.g-3
        .col-lg-8
          = form_tag coaching_group_attendances_path(@group), method: :get, class: "filter-form" do
            .row.g-3
              .col-4
                = label_tag :month, "Month", class: "form-label"
                = select_tag :month, options_for_select(month_dropdown_list, @month.to_i), class:"form-control"

              .col-4
                = label_tag :year, "Year", class: "form-label"
                = select_tag :year, options_for_select(year_dropdown_list, @year.to_i), class:"form-control"

              .col-4.d-flex.align-items-end
                = submit_tag "Filter", class: "btn btn-primary m-0"

        .col-lg-4.d-flex.justify-content-lg-end.align-items-end
          = link_to "Export", export_coaching_group_attendances_path(group_id: @group.id, q: params[:q]&.to_unsafe_h.to_h, format: "xlsx"), title: "Export attendances", class: "btn btn-light m-0"

    - if @subscribers.present?
      = render "table"
    - else
      = render "shared/empty_record"
