.table-responsive
  %table.table
    %thead
      %tr
        %th{scope: "col"}= sort_link @search, :name, "Name"
        %th{scope: "col"} Students Count
        %th{scope: "col"} Groups Count
        %th{scope: "col"}= sort_link @search, :archived, "Status"
        %th.text-center{scope: "col"} Actions

    %tbody
      - @client_types.each do |client_type|
        %tr
          %td{scope: "row"}= link_to client_type.name, coaching_client_type_path(client_type), title: "Show details", data: { turbo_frame: "remote_modal_form" }
          %td= client_type.students.size
          %td= client_type.groups.size
          %td= client_type.archived_status
          %td.text-center
            = link_to raw("<i class='bi bi-eye-fill'></i>"), coaching_client_type_path(client_type), title: "Show details", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-pencil-fill'></i>"), edit_coaching_client_type_path(client_type), title: "Edit client type", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-clock-fill'></i>"), change_logs_coaching_client_type_path(client_type), title: "Show history", class: "icon-btn", data: { turbo_frame: "remote_modal_form" }
            = link_to raw("<i class='bi bi-trash3-fill'></i>"), coaching_client_type_path(client_type), title: "Delete client type", class: "icon-btn text-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete the client type?" }
